body {
	font-family: 'Times New Roman', Times, serif;
	font-weight: 400;
	-webkit-font-smoothing: always;
	-moz-osx-font-smoothing: always;
	font-smooth: always;
	text-rendering: optimizeLegibility;
	font-style: normal;
	letter-spacing: .02rem;
	text-transform: none;
	line-height: 1.8em;
	font-size: calc((1.5 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
	text-rendering: optimizeLegibility;
}

.navbar-dark .navbar-nav .nav-link {
	font-size: calc((1.1 - 1) * 1.2vw + 1rem);
	line-height: 1.2em;
	color: white;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
	color: white;
}

.nav-item.active .nav-link {
	color: white;
	background-image: linear-gradient(currentColor, currentColor);
	background-repeat: repeat-x;
	background-size: 1px 1px;
	background-position: 0 100%;
	background-position: 0 calc(100% - 0.1em);
}

.navbar-dark .navbar-nav .nav-item {
	padding: 0.7rem;
}

@media (max-width: 992px) {

	.navbar-dark .navbar-nav .nav-link {
		font-size: calc((3 - 1) * 1.2vw + 1rem);
		display: inline-block;
	}

	.navbar-dark .navbar-nav .nav-item {
		text-align: center;
		padding: 0.5rem;
	}

}

.navbar-brand {
	font-family: 'Neue Haas Grotesk Display', sans-serif;
	font-weight: 500;
	font-size: calc((2 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
}

label {
	display: inline;
}

h1, h2, h3, h4, label {
	font-family: 'Neue Haas Grotesk Display', sans-serif;
}

h1 {
	font-size: calc((6.5 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
	font-weight: 700;
}

h2 {
	font-size: calc((4.2 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
	font-weight: 700;
}

h3 {
	font-size: calc((1.9 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
	font-weight: 600;
}

.text-primary {
	color: rgb(37, 53, 81)!important;
}

.bg-primary {
	background-color: rgb(37, 53, 81)!important;
}

.bg-light {
	background-color: white!important;
}

.bg-dark {
	background-color: #2A2829!important;
}

.btn-square {
  border-radius: 0;
	font-family: 'Neue Haas Grotesk Display', sans-serif;
	font-size: calc((1.2 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
}

.form-control-square {
  border-radius: 0;
}
